
*.xcuserstate
FaceRecognizationDemo.xcodeproj/project.xcworkspace/xcuserdata/arc.xcuserdatad/UserInterfaceState.xcuserstate

FaceRecognizationDemo.xcodeproj/xcuserdata/arc.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
FaceRecognizationDemo.xcodeproj/project.xcworkspace/xcuserdata/arc.xcuserdatad/UserInterfaceState.xcuserstate
